*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #303030;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.main-section {
  margin-bottom: 150px;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #868585;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.header {
  background-image: url('../images/header-bg.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 10px 38px;
  margin-bottom: 150px;
}

.header-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-top: auto;
}

.header-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 86px;
}

.header-title span {
  display: block;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
}

.header-button {
  margin-top: 50px;
  margin-bottom: auto;
  align-self: center;
}

.button-primary-path {
  transition: fill 0.5s;
}

.button-primary:hover .button-primary-path {
  fill: #a9a32a;
}

.button-primary-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  transform: translateY(-20px);
  margin-left: -57px;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.servise-inner {
  display: flex;
  justify-content: space-between;
}

.service-content {
  flex-basis: 510px;
  margin-right: 90px;
}

.service-box {
  margin-bottom: 50px;
}

.service-box-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #303030;
  margin-bottom: 15px;
}

.info-inner {
  display: flex;
}

.info-box {
  flex-basis: 510px;
  margin-right: 90px;
}

.info-tabs {
  margin-bottom: 100px;
}

.info-tabs-items {
  margin-bottom: 120px;
}

.info-tabs-item {
  font-size: 18px;
  line-height: 22px;
  margin-right: 40px;
}

.info-tabs-item-active {
  /* padding-bottom: 5px; */
  border-bottom: 1px solid #303030;
}

.info-tabs-content {
  display: none;
}

.info-tabs-content-active {
  display: block;
}

.info-slider {
  max-width: 510px;
}

.info-slider-img {
  margin-right: 40px;
  float: left;
}

.info-slider-text {
  padding-bottom: 15px;
}

.slick-left,
.slick-right {
  position: absolute;
  left: 275px;
  bottom: -3px;
  cursor: pointer;
}

.slick-right {
  left: 340px;
}

.slick-left path,
.slick-right path {
  transition: all 0.5s;
}

.slick-left:hover path,
.slick-right:hover path {
  fill: #a9a32a;
}

.info-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;
}

.info-list-item {
  flex-basis: 235px;
}

.info-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 6px;
}

.info-content {
  flex-basis: 600px;
}

.info-content-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 17px;
}

.blockquote {
  padding: 128px 10px 144px;
  text-align: center;
  background-image: url('../images/blockquote-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 150px;
}

.blockquote-text {
  max-width: 673px;
  margin: 0 auto;
  font-size: 42px;
  line-height: 57px;
  color: #fff;
}

.clients-slider-box {
  display: flex;
}

.clients-slider-img {
  flex-basis: 510px;
  margin-right: 90px;
  margin-bottom: 30px;
}

.clients-slider-box-title {
  max-width: 478px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.clients-slider-box-list {
  margin-left: 50px;
  margin-bottom: 65px;
}

.clients-slider-box-item + .clients-slider-box-item {
  margin-top: 16px;
}

.step-inner {
  display: flex;
}

.step-content {
  margin-right: 90px;
}

.step-content-list {
  counter-reset: my-counter;
}

.step-content-item {
  counter-increment: my-counter;
  margin-bottom: 64px;
  position: relative;
}

.step-content-item::before {
  position: absolute;
  content: '0' counter(my-counter);
  left: 0;
  top: -30px;
  color: #868585;
}

.step-content-item:nth-child(n + 10)::before {
  content: counter(my-counter);
}

.step-content-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 2px;
}

.step-img {
  flex-basis: 600px;
}

.footer {
  padding: 70px 0 50px;
  background-image: url('../images/footer-bg.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #fff;
}

.footer-top {
  margin-bottom: 150px;
  display: flex;
}

.footer-title {
  color: #fff;
}

.footer-form {
  flex-basis: 510px;
  margin-right: 91px;
}

.footer-input {
  border: none;
  border-bottom: 1px solid #fff;
  display: block;
  width: 100%;
  background-color: transparent;
  padding-bottom: 11px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  margin-bottom: 60px;
}
.footer-input::placeholder {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
}

.footer-form-btn {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #fff;
}

.footer-contacts-item {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .servise-inner {
    flex-wrap: wrap;
  }

  .service-content {
    flex-basis: 100%;
    margin-right: 0;
  }

  .service-img {
    width: 100%;
    height: 400px;
  }
}

@media screen and (max-width: 768px) {
  .header-title {
    font-size: 48px;
    line-height: 56px;
  }

  .header-title span {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 640px) {
  .header,
  .main-section,
  .footer-top {
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 540px) {
  .header-subtitle {
    font-size: 16px;
    line-height: 22px;
  }

  .header-title {
    font-size: 32px;
    line-height: 38px;
  }

  .header-title span {
    font-size: 22px;
    line-height: 28px;
  }
}

@media screen and (max-width: 375px) {
  .button-primary-text {
    margin-left: -76px;
  }

  .title {
    margin-bottom: 40px;
  }

  .service-box {
    margin-bottom: 30px;
  }
}
